.jumbotron {
    text-align: center;
    background: none;
}

.sectionLight {
    background-color: #eceeef;
    padding: 2em;
}

.sectionDark {
    background-color: #cccccc;
    padding: 2rem;
}

.coolStuffWrapper {
    margin-top: 20px;
}

button.coolStuffBtn {
    background-color: red;
    color: #ffffff;
    display: block;
    margin: auto;
}

button.coolStuffBtn2 {
    background-color: red;
    color: #ffffff;
    display: inline;
    margin: auto;
}

h5.modal-title {
    margin: auto;
}

.modalFormWrapper {
    padding: 2rem;
}

.imgCenter {
    display: block;
    margin: auto;
}

.btnCenter {
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 47%;
}

.footerImg {
    padding: 10px;
}

.fa {
    margin: 10px;
}

.fa-facebook-square {
    color: #3b5998;
}

.fa-google-plus-square {
    color: #c32f10;
}

.fa-instagram {
    color: #ffffff;
}

.socialWrapper {
    margin: auto;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}


.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    -ms-transform: scale(0,1);
    transform: scale(0,1);
}

.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(0.6);
    -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 17px;
    background-color: transparent;
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
}

.hovereffect a, .hovereffect p {
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.subcategory { 
    display:none;  
       background:#666666;
       color:#fff;
   }
   
   .category { 
    background:#ccc;   
       cursor:pointer;
   }
   